{{ define "main" }}

{{ $recentPosts := first 5 .Site.RegularPages }}

{{ .Summary | truncate 200 }}

<head>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<div class="main-content">
    <header style="text-align: center;">
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }}</p>
    </header>
    
    <br>

    <section>
        <h2></h2>
        <ul>
            Welcome to my Blog. Here I write about and math and technology, post my reviews of software and media, and also some short stories and ramblings about random topics.
        </ul>
    </section>

    <br>

    <section>
      <a href="/index.xml" style="display: inline-block; margin-right: 10px;">
	<h3 style="text-decoration: underline">RSS Feed</h3>
      </a>
      <a href="https://codeberg.org/aaroh" style="display: inline-block; margin-right: 10px;">
	<h3 style="text-decoration: underline">Codeberg</h3>
      </a>
      <a href="https://github.com/gokhaleaaroh" style="display: inline-block;">
	<h3 style="text-decoration: underline">GitHub</h3>
      </a>
    </section>

    <br>

    <section class="recent-posts">
        <h2>Recent Posts</h2>
        <br>
        <ul style="list-style-type:none">
            {{ range $recentPosts }}
            <li class="post-preview" onclick="location.href='{{ .Permalink }}'">
                <a href="{{ .Permalink }}">
                    <h3 style="text-decoration: underline">{{ .Title }}</h3>
                </a>
                <p class="unselectable">{{ .Summary }}</p>
                <br>
            </li>
            {{ end }}
        </ul>
    </section>
</div>
{{ end }}
